*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #header{
    background-color: #008080;
    color: white;
    padding: 1vh 0 2vh 2vw;
  }
  button{
    cursor: pointer;
  }
  #QuestionsList{
    background-color: #F5F5F5;
    float: left;
    width: 40%;
    height: 90vh;
    border-right: 1px solid rgba(0, 0, 0, 0.205);
  }
  #QuestionForm{
    float: left;
    width: 60%;
    height: 90vh;
    padding-left: 5vw;
  }
  #QuestionForm h1{
    font-size: 3vw;
    margin-bottom: 1vh;
  }
  #QuestionForm p{
    font-size: 2vw;
  }
  #leftbuttons{
    background-color: white;
    min-height: 15vh;
    padding: 4vh 0 0 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  }
  #newquestion{
    float: left;
    border: 2px solid #92C7FF;
    border-radius: 5px;
    margin: 1vh 0 0 0;
  }
  #search{
    margin:1vh 2vw;
    padding: 10px 5px;
    border-radius: 5px;
  }
  #form{
    margin-top: 2vh;
  }
  #title{
    padding: 1vh 1vw;
  }
  #description{
    margin-top: 2vh;
    height: 30vh;
    width: 50vw;
    padding: 1vh 1vw;
  }
  button{
    float: right;
    margin:2vh 5vw 0 0;
    padding: 2vh 2vw;
    color: white;
    background-color: #0069D9;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  #lists{
    overflow: auto;
    height: 75vh;
  }
  .listing{
    padding: 3vh 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205); 
    cursor: pointer;
    display: block;
  }
  #newform{
    margin-top: 10vh;
  }
  #details{
    width: 50vw;
    height: 15vh;
    background-color: #F5F5F5;
    overflow: auto;
  }
  #solution{
    margin-top: 5vh;
    display: none;
  }
  #name{
    margin: 1vh 0;
    padding: 1vh 1vw;
  }
  #comment{
    width: 50vw;
    height: 15vh;
    overflow: auto;
  }
  #responses{
    width: 50vw;
    height: 15vh;
    background-color: #F5F5F5;
    overflow: auto;
    display: none;
  }
  #responses div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    font-size: 18px;
    padding: 2vh 0;
  }
  #responses div p{
    font-size: 14px;
  }
  .checked{
    float: right;
    color: rgb(212, 205, 205);
    margin-bottom: 5vh;
  }